.about {
  background-color: rgb(219, 219, 219);
  padding: 1rem;
  &__title {
    margin: 1rem 0;
    text-align: center;
    color: black;
  }
  &__text {
    color: black;
    margin: 0.8rem 0;
    line-height: 1.5rem;
    font-size: 1.2rem;
  }
  &__img {
    margin: 1rem 0;
    border: 2px solid var(--main-color);
    border-radius: 10%;
    overflow: hidden;
  }

  @media screen and(min-width: 768px) {
    &__flex {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
    }

    &__img {
      max-width: 80%;
      box-shadow: 5px 5px 5px black;
    }
  }
}
