<main class="about">
  <div class="container">
    <h2 class="about__title">About us</h2>
    <div class="about__flex">
      <p class="about__text">
        DoorDash is a technology company that connects people with the best of
        their neighborhoods across the US, Canada, Australia, Japan, and
        Germany. We enable local businesses to meet consumers’ needs of ease and
        convenience, and, in turn, generate new ways for people to earn, work,
        and live. By building the last-mile logistics infrastructure for local
        commerce, we’re fulfilling our mission to grow and empower local
        economies.
      </p>
      <p class="about__text">
        With thousands of restaurants, convenience stores, pet stores, grocery
        stores, and more at your fingertips, DoorDash delivers the best of your
        neighborhood on-demand. Reach new customers, market your store, and grow
        your business by offering delivery, pickup, and direct online ordering
        with DoorDash.Delivering with DoorDash means earning money when and how
        you want. Dash long term or for a goal, and do it all on your own terms.
      </p>
      <div class="about__img">
        <img src="../../../assets/img/about2.jpg" alt="about image" />
      </div>
    </div>
  </div>
</main>
